h1 {
    color: red;
}

.main {
    width: 83.5vw;
    height: 42.5vw;
    background-color: #fff;
    margin-left: 16.5vw;
    margin-top: -42vw;
    padding-top: 1vw;
    padding-bottom: 1.5vw;
    margin-bottom: 0;
}