.reservations-container {
  width: 83.5%;
  background-color: #fff;
  height: 100%;
  flex-direction: column;
  display: flex;
  gap: 1em;
  margin-top: 7em;
}

.title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 3em;
  font-weight: 800;
  color: #161616;
}

.title-description {
  text-align: center;
  margin: 0;
  color: rgb(214, 197, 197);
}

.dotted-line {
  width: 10%;
  border-top: 1px dotted rgb(242, 222, 222);
  align-self: center;
  align-items: center;
  display: flex;
}

.reservations-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.info {
  width: 80%;
  height: 5em;
  font-size: 1.5em;
  border: 0;
  border-radius: 2em;
  background: linear-gradient(to bottom, rgba(20, 221, 20, 0.5) 0%, rgba(20, 221, 20, 1) 100%);
  color: #fff;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
