.reservations-container {
  width: 100%;
  background-color: #fff;
  margin-top: 0;
  background-image: linear-gradient(to bottom, rgba(212, 222, 212, 0.7) 0%, rgb(188, 242, 188, 0.7) 100%), url(https://i.pinimg.com/1200x/6e/46/e9/6e46e96b88c1e0e4357cdf8ec88b27bd.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
  display: flex;
}

.my_reservation_content {
  display: flex;
  gap: 1em;
  flex-direction: column;
  position: absolute;
  left: 20%;
  width: 76%;
}

.title-res {
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: 0;
  font-size: 2.5vw;
  font-weight: 800;
  color: #161616;
}

.title-description {
  text-align: center;
  margin: 0;
  color: rgb(214, 197, 197);
  font-size: 1.25vw;
}

.dotted-line {
  width: 10%;
  border-top: 1px dotted rgb(242, 222, 222);
  align-self: center;
  align-items: center;
  display: flex;
}

.reservations-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.info {
  width: 60%;
  height: 3vw;
  border: 0;
  border-radius: 2em;
  background-color: #97bf0f;
  color: #fff;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.2em;
}

.text {
  padding-right: 1em;
  color: #161616;
  font-size: 1.2vw;
}

.desc {
  color: #fff;
}

.people {
  display: flex;
  justify-content: center;
  align-items: center;
}

.people-icon {
  font-size: 1.2vw;
  margin-top: -0.3em;
}

.number {
  font-size: 1.2vw;
}

@media only screen and (max-width: 767px) {
  .reservations-container {
    height: auto;
  }
}

@media only screen and (min-width: 767px) {
  .reservations-container {
    height: 70em;
  }
}
