.detail_container{
    padding: 4%;
    width: 76%;
}
.detail_img img{
    width: 100%;
    min-height: 100%;
    box-shadow: #333 1px 3px 4px; 
     -webkit-box-shadow: #333 1px 3px 4px;
    -moz-box-shadow: #333 1px 3px 4px;
}
.detail_img{
    width: 60%;
    
}
.detail_list li:nth-child(odd) {
    background-color: #ffffff; 
    }
    
    .detail_list li:nth-child(even) {
      
      background-color: #f1f1f1;
    }