.detail_container{
    padding: 4%;
    width: 76%;
}
.detail_img img{
    width: 100%;
    min-height: 100%;
    box-shadow: #333 1px 3px 4px; 
     -webkit-box-shadow: #333 1px 3px 4px;
    -moz-box-shadow: #333 1px 3px 4px;
}
.detail_img{
    width: 60%;
    
}
.detail_list li:nth-child(odd) {
    background-color: #ffffff; 
    }
    
 .detail_list li:nth-child(even) {
      
      background-color: #f1f1f1;
 }
 .detail_list{
    width: 38%;
    font-size: medium;
    font-weight: 100;
  }
  .detail_list li{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: #333 1px 3px 4px; 
     -webkit-box-shadow: #333 1px 3px 4px;
    -moz-box-shadow: #333 1px 3px 4px;
  }
  .discover{
    justify-content: flex-end;
}
.detail_reserve{
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    border: 1px solid #fff;
    --tw-bg-opacity: 1;
    background-color: rgb(123 205 0/var(--tw-bg-opacity));
    align-items: center;
    padding: 3% 6%;
    border-radius: 9999px;
    gap: 1em;
  }